<%- include("partials/header") %>
<div class ='container'>
	<div class ='content'>
	<h2 class='heading'>Welcome To Online Banking System</h2>	
     
	<p class="main-content">
    Start transferring your money in very smart way.we provide very efficient and smart 
	way of transferring your money
    </p>
<form action="/view" method="post">
 <button class='submit'>Get Started</button>
</form>
</div>
</div>
	
<%- include("partials/footer") %>